.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(30px);
  opacity: 0;
}

.slide-down-fade-enter-active {
  transition: all .2s ease;
}
.slide-down-fade-leave-active {
  transition: all .2s ease-in-out;
}
.slide-down-fade-enter, .slide-down-fade-leave-to {
  transform: translateY(-30px);
  opacity: 0;
}

.show-from-bottom-enter-active {
  transition: all .2s linear;
}
.show-from-bottom-leave-active {
  transition: all .2s linear;
}
.show-from-bottom-enter, .show-from-bottom-leave-to {
  transform: translateY(100px);
  opacity: 0;
}

.show-from-top-enter-active {
  transition: all .3s ease;
}
.show-from-top-leave-active {
  transition: all .3s linear;
}
.show-from-top-enter, .show-from-top-leave-to {
  transform: translateY(-100px);
  opacity: 0;
}

.grow-fade-enter-active {
  transition: all .2s ease;
}
.grow-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.grow-fade-enter, .grow-fade-leave-to {
  transform: scale(.5);
  opacity: 0;
}

.fade-enter-active {
  transition: all .3s ease-in-out;
}
.fade-leave-active {
  transition: all .3s ease-in-out;
}
.fade-enter, .fade-leave-to {
  opacity: .1;
}

.fast-fade-enter-active {
  transition: all .2s ease;
}
.fast-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fast-fade-enter, .fast-fade-leave-to {
  opacity: 0;
}
