@tailwind base;
@tailwind components;

/* todo - add parts of the rules below in tailwind config extend */
input.floating-label ~ label {
    transition: transform .2s ease-in-out,color .1s ease-in-out,-webkit-transform .2s ease-in-out;
    transform-origin: 0 0;
    left: 1.25rem;
    top: 0.75rem;
}

input.floating-label:focus ~ label, .show-focused  ~ label {
    transform: scale(.7) translateY(-1.1rem) translateX(0.25rem);
    @apply text-blue-600
}

input.validation-error {
    @apply border-red-500 border-2
}

@tailwind utilities;
