@import "../core/core-colors.css";
@import "../core/core-text.css";
@import "drumeo-colors.css";

@tailwind base;
@tailwind components;

/* todo - add parts of the rules below in tailwind config extend */
.floating-label ~ label {
    transform-origin: 0 0;
    transition: transform .2s ease-in-out, color .1s ease-in-out, -webkit-transform .2s ease-in-out;
    left: 1.25rem;
    top: 0.65rem;
}

.floating-label:focus ~ label, .floating-label:not(:placeholder-shown) ~ label, .show-focused ~ label {
    transform: scale(.7) translateY(-0.70rem) translateX(0.25rem);
    color: $drumeo-blue;
}

textarea.floating-label:focus ~ label, textarea.floating-label:not(:placeholder-shown) ~ label, textarea.show-focused ~ label {
    transform: scale(.7) translateY(-1.10rem) translateX(1em);
    color: $drumeo-blue;
}

textarea.floating-label ~ label {
    left: 0.85rem;
    top: 0.85rem;
}

.validation-error, .validation-error:hover {
    box-shadow: 0 0 0 3px $validation-red !important;
}

.validation-error:not(:placeholder-shown) ~ label,
.validation-error:not(:placeholder-shown) label,
.validation-error:focus ~ label,
.validation-error:focus label {
    color: $validation-red !important
}

/* current drumeo container lengths */
.container {
    max-width: 100%;
}

@media screen and (min-width:40rem) {
    .container {
        max-width: 100%
    }
}

@media screen and (min-width:64rem) {
    .container {
        max-width: 64rem;
    }
}

@media screen and (min-width:72.5rem) {
    .container {
        max-width: 72.5rem
    }
}

@media screen and (min-width:97.5rem) {
    .container {
        max-width: 97.5rem
    }
}

.hover-trans {
    transition: background-color .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;
}

@tailwind utilities;
