.toasted-container.custom-toast.top-left {
    top: 15%;
    left: 0;
}
.custom-toast .toasted.white-toast {
    background-color: white;
    color: black;
    padding: 15px 20px;
}
.custom-toast .toasted.white-toast a {
    color: #999999;
    font-size: 2rem;
}